{% extends "layouts/_default.twig" %}

{% block page_title %}{{record.name}}{% endblock %}

{% block main_content %}
<div class="row space-between">
	<h1>{{record.name}}</h1>
	<div class="row justify-end gap-1">
		<p>{{record.size}} {{unit_of_measure}}</p>
		<a href="/{{resource}}/{{record.id}}/edit" class="button primary"><i class="fa fa-edit"></i></a>
		<a href="/{{resource}}/{{record.id}}/delete" class="button error" onclick="return dref(event, 'Are you sure?', 'This cannot be undone!')"><i class="fa fa-trash"></i></a>
	</div>
	
</div>

<p>{{record.description}}</p>

<section class="grid">
	{% for image in record.Images %}
		<div class="image-container">
			<img src="{{image.src}}" alt="{{image.caption}}"/>
			<p>{{image.caption}}</p>
		</div>
		
	{% endfor %}
</section>
{% block addt_content %}{% endblock %}
{% endblock %}

