{% extends "layouts/_show.twig" %}

{% set resource = "stars" %}

{% set navIndex = 2 %}

{% set unit_of_measure = "miles" %}

{% block addt_content %}
<h4>Planets</h4>
<section class="grid">
{% for planet in record.Planets %}
	<a href="{{planet.src}}" class="image-container">
		<img src="{{planet.image.src}}" alt="{{planet.image.alt}}"/>
		<p>{{planet.name}}</p>
	</a>
{% endfor %}
</section>
{% if record.Galaxy is defined %}
	<h4>Galaxy</h4>
	<section class="grid">
		<a href="{{record.Galaxy.src}}" class="image-container">
			<img src="{{record.Galaxy.image.src}}" alt="{{record.Galaxy.image.alt}}"/>
			<p>{{record.Galaxy.name}}</p>
		</a>
	</section>
{% endif %}
{% endblock %}