{% extends "layouts/_show.twig" %}

{% set resource = "planets" %}

{% set navIndex = 1 %}

{% set unit_of_measure = "miles" %}
{% block addt_content %}
<h4>Stars</h4>
<section class="grid">
{% for star in record.Stars %}
	<a href="{{star.src}}" class="image-container">
		<img src="{{star.image.src}}" alt="{{star.image.alt}}"/>
		<p>{{star.name}}</p>
	</a>
{% endfor %}
</section>
{% if record.galaxy is defined %}
	<h4>Galaxy</h4>
	<section class="grid">
		<a href="{{record.galaxy.src}}" class="image-container">
			<img src="{{record.galaxy.image.src}}" alt="{{record.galaxy.image.alt}}"/>
			<p>{{record.galaxy.name}}</p>
		</a>
	</section>
{% endif %}
{% endblock %}
